.dashboard {
  display: flex;
  justify-content: space-between;
}

.dashboard__charts {
  flex: 2
}
.dashboard_chartsButtons {
  padding-left: 50px;
}
.dashboard__buttonDay {
  margin-right: 10px;
  padding: 10px 20px 10px 20px;
}

.dashboard__buttonMonth {
  padding: 10px 20px 10px 20px;
}

.dashboard__chartsBottom {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: start;
  margin-top: 20px;
}

.dashboard__widgets {
  flex: 1;
  margin-top: 100px;
  padding-left: 50px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.dashboard__widgetsInfo {
  max-height: 180px;
  margin-bottom: 20px;
}
.dashboard__widgetsTask {
  max-height: 100px;
  margin-bottom: 20px;
}

.dashboard__widgetsNotifications {
  max-height: 260px;
}
@media screen and (max-width: 1144px) {
  .dashboard{
    flex-direction: column;
   }
}
@media screen and (max-width: 768px) {
 .dashboard__chartsBottom{
  flex-direction: column;
 }
 .dashboard{
  flex-direction: column;
 }
 .dashboard__widgets{
  padding-left: 0px;
 }
}
@media screen and (max-width: 768px) {
  .dashboard_chartsButtons{
    display: flex;
    justify-content: center;
    padding-left: 0px;
  }
  .dashboard__charts{
    width: 90%;
    height: 400px;
  }
}
@media screen and (max-width: 1144px) {
.dashboard__widgetsInfo{
  max-height: none;
}
.dashboard__widgetsTask{
  max-height: none;
}
.dashboard__widgetsNotifications{
  max-height: none;
}
}